.distance-text {
    color: red;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 20px;     
}

.heigh {
    background-color: purple;
}

.less {
    background-color: lightblue;
}

.slider-container {
    display: inline-flex;
}