.distance-text {
    color: black;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 20px;     
}


.heigh {
    background-color: purple;
}

.less {
    background-color: lightblue;
}

.slider-container {
    display: flex;
    justify-content: center;
    width: 100%;
}