.app {
  text-align: center;
}

h1 {
  text-align: center;
}

.button-container {
  display: flex;
  align-content: center;
  justify-content: center;
}

.map-container {
  display: flex;
  align-content: center;
  justify-content: center;
}