.flat-button {
    background-color: #069A8E; /* Couleur de fond */
    border: none;
    color: white; /* Couleur du texte */
    padding: 15px 60px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 6px 2px;
    cursor: pointer;
    transition: background-color 0.3s; /* Transition pour l'effet de survol */
    border-radius: 30px;
    width: 300px;
}

.flat-button:hover {
    background-color: #0A4D68; /* Changement de couleur au survol */
}